<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    
    <ion-title>cooking-time-form</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Time</ion-label>
      <ion-input type="number" min="1" max="30"></ion-input>
    </ion-item>

  
  </ion-list>

  <ion-button expand="block">Enter</ion-button>

</ion-content>
