.head{
  text-align: center;
  background-color: rgb(87, 194, 218);
}


.time-left {
  font-size: 80px;
  text-align: center;
  color: rgb(33, 166, 196);
  margin-bottom: 20px;
}

.h{
  text-align: center;
  color: rgb(162, 181, 44);
}